<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
    </li>
</ul>
<br>
<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-4">
        <!-- Icon -->
        <div class="text-center">
            <img src="image/icon.png" id="icon"  alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="form-control" name="login" placeholder="login">
            <br>
            <input type="text" id="password" class="form-control" name="login" placeholder="password">
        </form>
            <br>
        <button type="button" class="btn btn-primary" routerLink="/dashboard" >Submit</button>
    </div>
    </div>
</div>